.get-started {
	
  // .get-started__container

  &__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: 767.98px) {
      padding: 100px 15px 30px 15px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      right: 252px;
      top: 0;
      transform: translate(100%, 0px);
      border-radius: 20px 0px 0px 20px;
      background-color: $mainPinkColor;

      @media (max-width: 991.98px) {
        right: 170px;
      }

      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }

  // .get-started__content

  &__content {
    flex: 0 1 48%;
    padding: 0px 20px;

    @media (max-width: 767.98px) {
      flex: 1 1 auto;
      padding: 0;
    }
  }

  // .get-started__block-text

  &__block-text {
    max-width: 410px;

    @media (max-width: 767.98px) {
      max-width: none;
    }
  }

  // .get-started__image

  &__image {
    position: relative;
    z-index: 2;
    flex: 0 1 52%;

    @media (max-width: 767.98px) {
      flex: 1 1 auto;
      text-align: center;
      padding: 30px 0;
    }

    & img {
      max-width: 100%;
    }
  }

  // .get-started__video

  &__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 20px;

	 @media (max-width: 767.98px) {
		padding: 0;
	 }
  }
}