.experts {
  padding: 103px 0px 116px 0px;

  @media (max-width: 767.98px) {
    padding: 80px 0px 30px 0px;
  }


  // .experts__block-text

  &__block-text {
    max-width: 410px;
    position: relative;
  }

  // .experts__body

  &__body {
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      align-items: stretch;
      flex-direction: column;
    }
  }

  // .experts__content

  &__content {
    flex: 0 1 50%;
    padding: 0px 20px 0px 0px;

    @media (max-width: 767.98px) {
      padding: 0;
      margin: 0px 0px 40px 0px;
    }
  }

  // .experts__video

  &__video {
    flex: 0 1 50%;
    padding: 0px 0px 28% 0px;
    position: relative;
	 box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	 border-radius: 8px;
	 overflow: hidden;

    @media (max-width: 767.98px) {
      padding: 0px 0px 48% 0px;
    }

    & iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;

    }
  }
}

.statistics-experts {
  max-width: 655px;
  margin: 0 auto;

  position: relative;

  // .statistics-experts__body

  &__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    margin: 0px 0px 80px 0px;

    @media (max-width: 767.98px) {
      margin: 0px 0px 80px 0px;
    }
  }

  // .statistics-experts__item

  &__item {
    position: absolute;
    background-color: $mainPinkColor;
    border-radius: 30px;
    // .statistics-experts__item_1

    &_1 {
      width: 65px;
      height: 65px;
      transform: rotate(-30deg);
      bottom: -21px;
      left: -31px;
      border-radius: 16px;
    }

    // .statistics-experts__item_2

    &_2 {
      transform: rotate(105deg);
      width: 97px;
      height: 97px;
      right: 50%;
      top: -40px;
    }

    // .statistics-experts__item_3

    &_3 {
      transform: rotate(-30deg);
      width: 128px;
      height: 128px;
      right: -55px;
      top: 0;
    }
  }
}
.body-statistics-experts {
  padding: 25px 80px;
  display: flex;
  align-items: center;

  @media (max-width: 767.98px) {
    padding: 25px;
  }
  @media (max-width: 479.98px) {
    flex-direction: column;
  }

  // .body-statistics-experts__item

  &__item {
    flex: 1 1 25%;
    text-align: center;

    &:last-child {
      flex: 1 1 50%;
    }
  }

  // .body-statistics-experts__value

  &__value {
    font-size: 36px;
    font-weight: 700;
    color: $mainPinkColor;
    letter-spacing: 1.2px;
    margin-bottom: 5px;

    @media (max-width: 479.98px) {
      margin-bottom: 15px;
    }
  }

  // .body-statistics-experts__text

  &__text {
    color: $mainDarkColor;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
